* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

::selection {
  background: yellow;
}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  filter: drop-shadow(0 0 0.75rem rgb(255, 225, 0));
  transform: scaleY(0.66) transform-origin; bottom:auto
}

@keyframes shake {
  0% {
      transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
      transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
      transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
      transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
      transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
      transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
      transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
      transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
      transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
      transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
      transform: translate(1px, -2px) rotate(-1deg);
  }
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}


a {
  color: rgb(255, 0, 179);
  text-decoration: none;
}

p {
  background-color: rgba(255, 255, 255, 0); /* sudah transparan */
  color: #ff1493; 
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: none; /* UBAH DARI 0 4px 10px rgba(0, 0, 0, 0.1) MENJADI none */
  font-size: 1rem;
  max-width: 450px;
  line-height: 1.5;
  margin: 0 auto;
}



body,
html {
  font-family: "Balloon";
  margin: 0;
  background: url("https://media.giphy.com/media/3o6EhOYMhOTANYgHMk/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(128, 128, 128, 0.545);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  font-feature-settings: "kern";
}


.hoverimage {
  position: absolute;
  display: none;
  top: 1%;
  transform: translate(-50%, -50%);
  left: 50%;
  height: 100vh;
  box-sizing: border-box;
  z-index: 10;
  pointer-events: none;
}
a:hover .hoverimage {
  display: block;
}
